#chat {
overflow: auto;
width: 100%;
height: 175px;
padding: 0px;
}

#chatoutput ul {
	list-style: none;
	margin:0px;
	padding:0px;
	padding:5px 4px 6px 5px;
}

div.chatoutput {
	background:#BFD3EE;
	padding:5px 0px 3px 10px;
	/* font-weight: bold; */
	margin:0px;
	color:#3A4F6C;
	line-height: 150%;
	margin-bottom:2px;
}

div.loader {
background-image: url('images/loading.gif'); 
background-repeat: no-repeat; 
background-position:center center; 
width:32px; 
height:32px;
}

#chatoutput ul li {
}

#chatoutput ul li span.name {
	display: block;
	background:url(images/bubble.png) no-repeat left;
	padding-left:19px;
      margin-bottom:1px;
	font-weight: normal;
	color: #006699;
}

#chatoutput ul li:hover span.name {
	background:url(images/bubblehover.png) no-repeat left;
}

form {
	padding:0px;
	margin:6px;
}

#chatoutput {
	text-align: left;
	margin-right: 0px;
}

/* swaps edit and delete images on mouse over */
img.EditSwap {
background:url(images/shout_edit_gray.gif) no-repeat bottom;
}
img.EditSwap:hover {
background:url(images/shout_edit.png) no-repeat bottom; 
}
img.DeleteSwap {
background:url(images/shout_delete_gray.gif) no-repeat bottom;
}
img.DeleteSwap:hover {
background:url(images/shout_delete.png) no-repeat bottom; 
}
/* end of swaping */

img.form {
background:url(images/frame.png) no-repeat;
}
img.form:hover {
background:url(images/frame_hover.png) no-repeat;
}