/* ######### Start Main Tracker Body ######### */
body {
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 8pt;
    background:#000;
      color:#FFFF99;
    margin: 10px 12px 20px 8px;
    padding: 0;
}

.highlight {
  background: #F8F81A;
  color: #FF0000;
}

/* Standard horizontal rule.. */
hr {    color: #000;    background-color: transparent; }

/* A quote, perhaps from another post. */
.quote {    color: #000;    background-color: #FFDD22;  font-family: verdana, arial, helvetica, sans-serif; border: 1px solid #CCCC33; margin: 1px; padding: 1px;   font-size: x-small; line-height: 1.4em;}

/* A code block - maybe even PHP ;). */
.code { color: #000; background-color: #FFCC33; font-family: courier new, times new roman, monospace;   font-size: x-small; line-height: 1.3em;
/* Put a nice border around it. */
border: 1px solid #CCCC33; margin: 1px auto 1px auto;   padding: 1px;   width: 99%;
    /* If IE wrap its contents, Else show scrollbars. */
white-space: wrap; overflow: auto;
/* Stop after about 24 lines, and just show a scrollbar. */
max-height: 24em;}

.btn{
  background: #FECC00;
  border: 1px solid #EEDB00;
  color: #000;
  font-family: Verdana, Helvetica, Sans-Serif;
  font-size: 11px;
  padding: 2px;
  vertical-align: middle;
  cursor: pointer;

}

.post{
  border:1px solid #FFFF99;
  background: #FFEE55;
  padding:0px;
  margin:1px;
  color:#000000;
  line-height: 1.4em;
  text-align:left;
  white-space:wrap;
    overflow: auto;
}

img {
  border:0px;
}

textarea {
    display:block;
    overflow: auto;
    line-height: 1.4em;
}

select.drop_pager {
  background: #000;
  font-size: 11px;

}

.pager {
  background: #000;
  border: 1px solid #EEDB00;
  padding: 1px 3px 1px 3px;
}

.pagercurrent {
  background: #000;
  border: 1px solid #EEDB00;
  padding: 1px 3px 1px 3px;
}

.pager a:link,
.pager a:visited,
.pagercurrent a:link,
.pagercurrent a:visited {
    text-decoration:none;
}

.pager a:hover,
.pagercurrent a:hover {
    text-decoration:none;
}

#logo {
    background-color: #000;
    background-image: url("images/bg_logo.gif");
    background-repeat: repeat-x;
  height:150px;
    width:100%;
}
.tracker_logo {
  background: url("images/logo.gif") no-repeat; 
    align:center; 
    height:150px; 
    width:750px;
}
#main {
    background: #000000;
    width:100%;
    margin: 10px auto;
}

#slideIt {background: #000000; align:right; }

#header{
    background: #000000;
    width:100%;
}
#nocolumns { width:100%; align:center; }
#footer{
        background-image:url(images/bg_logo.gif);
    background-color:#000;
        height:150px;
    width:100%;
}
td.footer { overflow:auto; font-size:8pt; color:#FFF600; text-align:center; padding:10px;} 
td.footer a:link, td.footer a:visited, td.footer a:active { font-size:10pt; color:#FFF600; text-align:center;}
td.footer a:hover { color:#EE4000; text-decoration:none; /*cursor:auto*/}

div.chat {
/* Wrap its contents, and show scrollbars. */
    white-space: wrap;
    overflow: auto;
    /*Stop after about 24 lines, and just show a scrollbar.*/ 
    max-height: 36em;
  width: 100%;
  padding: 0px;
}


a:link,a:active,a:visited { color : #fecc00; text-decoration: none;}
a:hover        { text-decoration:none; color : #DD6900; }

h1 {
    font-size: 12pt;
}

p {
    font-size: 10pt;
}

table {
    border:0px;
}

table.lista {
    background: url('images/poller.png'); background-repeat:repeat-x; background-color:#000;
  /*  border: 1px #FFEE55 solid;*/
}

td.block {
  background-image:url(images/bg2.gif);
    height:30px;
    padding-left: 3px;
    padding-right: 3px;
    border-left: solid 1px #FFEE55;
    border-right: 1px #FFEE55 solid;
    border-bottom: solid 1px #FFEE55;
  color: #000;#FFCC00;
}

td.blocklist {
         background: #000;
         padding:2px;
         margin:1px;
         font-size: 8pt;
         font-weight: bold;
         color: #fff;
}
.user {background:#000;}
td.lista {
    background:#000;
    color: #fef600;
    padding:2px;
    margin:0px;
        text-align:left;
    font-size: 8pt;
        border:solid 1px #EEDB00;

}

td {
   font-size: 8pt;
}
td.header a:link, td.header a:visited, td.header a:active { font-size:8pt; color:#000; text-align:center;}
td.header a:hover { color:#EE4000; text-decoration:none; /*cursor:auto*/}
td.header {
     font-weight:bold;
     color:#000;
     padding:5px;
     border: 1px #000 solid;
         background-image: url(images/bg3.gif);
     background-color: #ffe600;
         background-repeat:repeat-x;
}

td.title {
    font-size: 8pt;
}

td.navigation {
    background-color: #000000;
    font-weight: bold;
    font-size: 8pt;
}

form {
    margin-top: 0;
    margin-bottom: 0;
}

.sublink {
    font-style: italic;
    font-size: 7pt;
    font-weight: normal;
}

a.index {
    font-weight: bold;
}

a.biglink {
    font-weight: bold;
    font-size: 10pt;
}

.important {
    font-weight: bold;
    font-size: 10pt;
}

td.red {
    background-color:#000000;
        border-top: 1px #FFEE55 solid;
        border-bottom: solid 1px #FFEE55;
    color: #FF3333;
}


td.yellow {
    background-color:#000000;
        border-top: 1px #FFEE55 solid;
        border-right: 1px #FFEE55 solid;
        border-bottom: solid 1px #FFEE55;
    color: #BEC635;
}


td.green {
    background-color:#000000;
        border-top: 1px #FFEE55 solid;
        border-left: 1px #FFEE55 solid;
        border-bottom: solid 1px #FFEE55;
    color: #00FF66;
}

td.progress {
    padding: 0px;
    background-image: url(images/backprogress.gif);
    background-repeat: repeat-x;
    height: 10px;
}

td.red a:link {
    color: #FF3333;
}
td.red a:visited {
    color: #FF3333;
}

td.yellow a:link {
    color: #BEC635;
}
td.yellow a:visited {
    color: #BEC635;
}

td.green a:link {
    color: #00FF66;
}

td.green a:visited {
    color: #00FF66;
}
li{
list-style-position:inside;
} 

.error { color:black; font-weight: bold; font-size: 14pt; background:url(images/chr.gif); background-repeat: repeat-x;}
.information { color:black; font-weight: bold; font-size: 14pt; background:url(images/chb.gif); background-repeat: repeat-x;}
.success { color:black; font-weight: bold; font-size: 14pt; background:url(images/chg.gif); background-repeat: repeat-x;}

/* ######### End Main Tracker Body ######### Start Ajax Poll System ######### */

td.deleted {
    background-color:#FF95AC;
    color:#000000;
}

td.added {
    background-color:#C1FF83;
    color:#000000;
}

td.modified {
    background-color:#DEDEDE;
    color:#000000;
}

#mainContainer {
    width:100%;
    overflow:auto;
    text-align:left;
    
}

#mainContent {
    padding:0px;
}
  
.clear {
    clear:both;
}

.poller {  /* The poller box */
  
    width:100%;
    background-image: url(images/poller.png);
        overflow:hidden; color:#FFFF99; font-weight:bold;
}

.pollerTitle {  /* Poller title above radio buttons */
    margin-top:0px;
    margin-bottom:5px;
    font-weight:bold;
    font-size:1em;
}

.pollerOption {  /* Label for each radio button */
    margin:0px;
}

.result_pollerOption {  /* Label for each option above graph - i.e. results */
    margin:0px;
    font-size:0.8em;
}

.result_pollerTitle {  /* Title of poller - when ajax shows the results */
    margin-top:0px;
    margin-bottom:5px;
    font-weight:bold;
    font-size:1em;
}

.result_pollGraph img {  /* Don't change this one, it is used to get the left and right image(the corner) positioned correctly */
    float:left;
}

.result_pollGraph div {  /* The <div> tag where the percentage result is shown */
    float:left;
    height:12px;
    background-repeat:repeat-x;
    color:#FFF;
    font-size:0.9em;
    line-height:16px;
}

.result_pollGraph {  /* Graph div - parent of both the corner images and the div displaying percentage votes */  
    height:12px;
}
  
.poller_waitMessage {  /* Message when Ajax is working getting restults fromt the server */
    display:none;  
}  

.result_totalVotes{
    clear:left;
    font-size:0.8em;
    margin-top:10px;
    font-style:italic;
    background:transparent;
}

th {
    text-align:left;
}
.formButton {
    width:75px;
}
/* ######### End Ajax Poll System ######### Start Ajax Chat ######### */
#chat {
overflow: auto;
width: 100%;
height: 220px;
padding: 0px;
}

#chatoutput ul {
    list-style: none;
    margin:0px;
    padding:0px;
    padding:5px 4px 6px 5px;
}

div.chatoutput {
    color:#000;
    border: 1px #feee55 solid;
    background-image: url(images/bg3.gif);
    padding:5px 0px 3px 10px;
    margin:0px;
    line-height: 150%;
    margin-bottom:2px;
}

div.loader {
background-image: url('images/ajaxchat/loading.gif'); 
background-repeat: no-repeat; 
background-position:center center; 
width:32px; 
height:32px;
}

#chatoutput ul li {
}

#chatoutput ul li span.name {
    display: block;
    background:url(images/ajaxchat/bubble.png) no-repeat left;
    background-color: #000;
    padding-left:19px;
      margin-bottom:1px;
    font-weight: normal;
    color: #ffe600;
}

#chatoutput ul li:hover span.name {
    background:url(images/ajaxchat/bubblehover.png) no-repeat left; background-color: #000;
}

form {
    padding:0px;
    margin:6px;
}

#chatoutput {
    text-align: left;
    margin-right: 0px;
}

/* swaps edit and delete images on mouse over */
img.EditSwap {
background:url(images/ajaxchat/shout_edit_gray.gif) no-repeat bottom;
}
img.EditSwap:hover {
background:url(images/ajaxchat/shout_edit.png) no-repeat bottom; 
}
img.DeleteSwap {
background:url(images/ajaxchat/shout_delete_gray.gif) no-repeat bottom;
}
img.DeleteSwap:hover {
background:url(images/ajaxchat/shout_delete.png) no-repeat bottom; 
}
/* end of swaping */

img.form {
background:url(images/ajaxchat/frame.png) no-repeat;
}
img.form:hover {
background:url(images/ajaxchat/frame_hover.png) no-repeat;
}
/* ######### End Ajax Chat ######### */