/* ######### Start Main Tracker Body ######### */
body {
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 8pt;
    background: #000;
      margin: 10px 12px 20px 8px;
    padding: 0;
}

.highlight {
  background: #F8F81A;
  color: #FF0000;
}

.btn{
  background: #595959;
  border: 1px solid #000;
  color: #F5FFFC;
  font-family: Verdana, Helvetica, Sans-Serif;
  font-size: 11px;
  padding: 2px;
  vertical-align: middle;
  cursor: pointer;

}

/* Input boxes - just a bit smaller than normal so they align well. */
textarea { font-size: 9pt; color: #A5BADC; font-family: verdana, arial, helvetica, sans-serif; background-color: #3d3d3d; }

/* Checkboxes shouldn't have a background color. */
input.check { background-color: transparent; }

/* Selects are a bit smaller, because it makes them look even better 8). */
input, select, button {font-size:8pt;   font-weight: normal; color: #000;   font-family: verdana, arial, helvetica, sans-serif;}

/* Standard horizontal rule.. */
hr {    color: #808080; background-color: transparent; }

/* A quote, perhaps from another post. */
.quote {    color: #DF9042; background-color: #000; font-family: verdana, arial, helvetica, sans-serif; border: 1px solid #817cae; margin: 1px; padding: 1px;   font-size: x-small; line-height: 1.4em;}

/* A code block - maybe even PHP ;). */
.code { color: #eee; background-color: #000; font-family: courier new, times new roman, monospace;  font-size: x-small; line-height: 1.3em;
/* Put a nice border around it. */
border: 1px solid #565962; margin: 1px auto 1px auto;   padding: 1px;   width: 99%;
    /* If IE wrap its contents, Else show scrollbars. */
white-space: wrap; overflow: auto;
/* Stop after about 24 lines, and just show a scrollbar. */
max-height: 24em;}

.post{
  border:1px solid #000;
  background: #626369;
  padding:0px;
  margin:0px;
  color:#F5FFFC;
  line-height: 1.4em;
  text-align:left;
  white-space:wrap;
    overflow: auto;
}

img {
  border:0px;
}

textarea {
    display:block;
    overflow: auto;
    line-height: 1.4em;
}

select.drop_pager {
  background-color: #595959;
  font-size: 11px;

}

.pager {
  background-color: #595959;
  padding: 1px 3px 1px 3px;
}

.pagercurrent {
  background-color: #595959;
  border: 1px solid #000000;
  padding: 1px 3px 1px 3px;
}

.pager a:link,
.pager a:visited,
.pagercurrent a:link,
.pagercurrent a:visited {
    text-decoration:none;
}

.pager a:hover,
.pagercurrent a:hover {
    text-decoration:none;
}

#main {
    display:block;
        color:#F5FFFC; 
    background: #320000; 
        border-top:1px solid #855C45;
        border-right:1px solid #855C45;
        border-bottom:1px solid #855C45;
        border-left:1px solid #855C45;
    width:100%;
        padding:0px;
        margin-top:5px;
    margin: 10px auto;
}
#logo {
    background: #320200;
  height:150px;
    width:100%;
}
.tracker_logo {
  background: url("images/logo.gif") no-repeat; 
    align:center; 
    height:150px; 
    width:750px;
}
#slideIt {background: #320200; align:left; }

#header{
  background: #320200;
    width:100%;
}

#nocolumns { width:100%; align:center; }

#footer{
    clear:both;
        background-image: url("images/footer.gif");
      background-repeat: repeat-x;
    height:140px;
    width:100%;
}

div.chat {
/* Wrap its contents, and show scrollbars. */
    white-space: nowrap;
    overflow: auto; 
    max-height: 30em;
  width: 100%;
  padding: 0px;
}


a:link,a:active,a:visited { color: #FFC000; text-decoration:none; }
a:hover { text-decoration:none; color: #FF8000; }

h1 {
    font-size: 12pt;
}

p {
    font-size: 10pt;
}

table {
    border:0px;
}

table.lista {
    background-color: #87898A;
    border: 1px #4D5157 solid;
}

td.block {
    background:url("images/block_back.gif");
    color: #ffffff;
    height:25px;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: solid 1px #000;
}
.user {background:#151920;}
td.blocklist {
         color:#F5FFFC; background:#4D5157;
         padding:2px;
         margin:0px;
         font-size: 8pt;
         font-weight: bold;
}

td.lista {
    color:#FFC000; background:#626369;
        padding:2px;
    margin:0px;
        text-align:left;
    font-size: 8pt;
        border-left:solid 1px #595959;
        border-right:solid 1px #595959;
}

td {
   font-size: 8pt;
}

td.header {
    color: #FFC000;
    height:27px;
    font-style: normal;
    background: url(images/catbg.jpg) #000000 repeat-x;
    border: 1px solid #000;
    padding-left: 5px;
    padding-right: 5px;
}

td.title {
    font-size: 8pt;
}

td.navigation {
    background-color: #000;
    font-weight: bold;
    font-size: 8pt;
}

form {
    margin-top: 0;
    margin-bottom: 0;
}

.sublink {
    font-style: italic;
    font-size: 7pt;
    font-weight: normal;
}

a.index {
    font-weight: bold;
}

a.biglink {
    font-weight: bold;
    font-size: 10pt;
}

.important {
    font-weight: bold;
    font-size: 10pt;
}

td.red {
    background-color:#3D3D3D;
    color: red;
}


td.yellow {
    background-color:#3D3D3D;
    color: #BEC635;
}


td.green {
    background-color:#3D3D3D;
    color: green;
}

td.progress {
    padding: 0px;
    background-image: url(images/backprogress.gif);
    background-repeat: repeat-x;
    height: 10px;
}

td.red a:link {
    color: red;
}
td.red a:visited {
    color: red;
}

td.yellow a:link {
    color: #BEC635;
}
td.yellow a:visited {
    color: #BEC635;
}

td.green a:link {
    color: green;
}

td.green a:visited {
    color: green;
}
li{
list-style-position:inside;
} 

.error { color:black; font-weight: bold; font-size: 14pt; background:url(images/chr.gif); background-repeat: repeat-x;}
.information { color:black; font-weight: bold; font-size: 14pt; background:url(images/chb.gif); background-repeat: repeat-x;}
.success { color:black; font-weight: bold; font-size: 14pt; background:url(images/chg.gif); background-repeat: repeat-x;}

/* ######### End Main Tracker Body ######### Start Ajax Poll System ######### */

td.deleted {
    background-color:#FF95AC;
    color:#000000;
}

td.added {
    background-color:#C1FF83;
    color:#000000;
}

td.modified {
    background-color:#DEDEDE;
    color:#000000;
}

#mainContainer {
    width:100%;
        overflow:auto;
    margin:0;
    text-align:left;
  /*  background-color:#e5e5e8;*/
    
}

#mainContent {
    padding:0px;
        
}
  
.clear {
    clear:both;
}

.poller {  /* The poller box */
  
        width:100%;
        background-image: url(images/poller.png);
        color:#FFF; font-weight:bold;
        overflow:hidden;
}

.pollerTitle {  /* Poller title above radio buttons */
    margin-top:0px;
    margin-bottom:5px;
    font-weight:bold;
    font-size:1em;
}

.pollerOption {  /* Label for each radio button */
    margin:0px;
}

.result_pollerOption {  /* Label for each option above graph - i.e. results */
    margin:0px;
    font-size:0.8em;
}

.result_pollerTitle {  /* Title of poller - when ajax shows the results */
    margin-top:0px;
    margin-bottom:5px;
    font-weight:bold;
    font-size:1em;
}

.result_pollGraph img {  /* Don't change this one, it is used to get the left and right image(the corner) positioned correctly */
    float:left;
}

.result_pollGraph div {  /* The <div> tag where the percentage result is shown */
    float:left;
    height:12px;
    background-repeat:repeat-x;
    color:#FFF;
    font-size:0.9em;
    line-height:16px;
}

.result_pollGraph {  /* Graph div - parent of both the corner images and the div displaying percentage votes */  
    height:12px;
}
  
.poller_waitMessage {  /* Message when Ajax is working getting restults fromt the server */
    display:none;  
}  

.result_totalVotes{
    clear:left;
    font-size:0.8em;
    margin-top:10px;
    font-style:italic;
    background:transparent;
}

th {
    text-align:left;
}
.formButton {
    width:75px;
}
/* ######### End Ajax Poll System ######### Start Ajax Chat ######### */
#chat {
overflow: auto;
width: 100%;
height: 220px;
padding: 0px;
}

#chatoutput ul {
    list-style: none;
    margin:0px;
    padding:0px;
    padding:5px 4px 6px 5px;
}

div.chatoutput {
    color:#FFC000; 
    background:#4D5157;
    padding:5px 0px 3px 10px;
    margin:0px;
    line-height: 150%;
    margin-bottom:2px;
}

div.loader {
background-image: url('images/ajaxchat/loading.gif'); 
background-repeat: no-repeat; 
background-position:center center; 
width:32px; 
height:32px;
}

#chatoutput ul li {
}

#chatoutput ul li span.name {
    display: block;
    background:url(images/ajaxchat/bubble.png) no-repeat left;
    padding-left:19px;
      margin-bottom:1px;
    font-weight: normal;
    color:#F5FFFC;
}

#chatoutput ul li:hover span.name {
    background:url(images/ajaxchat/bubblehover.png) no-repeat left;
}

form {
    padding:0px;
    margin:6px;
}

#chatoutput {
    text-align: left;
    margin-right: 0px;
}

/* swaps edit and delete images on mouse over */
img.EditSwap {
background:url(images/ajaxchat/shout_edit_gray.gif) no-repeat bottom;
}
img.EditSwap:hover {
background:url(images/ajaxchat/shout_edit.png) no-repeat bottom; 
}
img.DeleteSwap {
background:url(images/ajaxchat/shout_delete_gray.gif) no-repeat bottom;
}
img.DeleteSwap:hover {
background:url(images/ajaxchat/shout_delete.png) no-repeat bottom; 
}
/* end of swaping */

img.form {
background:url(images/ajaxchat/frame.png) no-repeat;
}
img.form:hover {
background:url(images/ajaxchat/frame_hover.png) no-repeat;
}
/* ######### End Ajax Chat ######### */